*, *::before, *::after{
   box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing:grayscale;

 }

 :root {
    --brand-color: #ef5f4c;
    --background-color: #ffffff;
    --suface-color:#f5f5f5 ;
    --skeleton-color: #d9d9d9;
    --shape-transparency: rgba(255,255,255,0.56) ;

    --text-color-primary: #313131;
    --text-color-seconday: #6c6c6c;

    --font-family: "Poppins", sans-serif;

    --text-lg: bold 2rem/125% var(--font-family);
    --text-md: regular 0.8rem/170% var(--font-family);
    --text-sm: regular 0.65rem/170% var(--font-family);
    --text: 16px/150% var(--font-family); 
    
   --spacing-y-16: 1rem;
   --spacing-y-32: 2rem;
   --spacing-x-20: 1.25rem

  

 }

 
 body {
    font: var(--text);
    background-color: var(--background-color);
 }


.padding-16 { 
   padding: 1rem;
}
 .gap-1 {
   gap: 1rem;
 }

.mobile-hidden {
   display: none;
}


.flex {
   display: flex;
}

.grid {
   display: grid;
}
.flow-col {
   grid-template-columns: 1fr;
}


 h1 {
   font: var(--text-lg);
   color: var(--text-color-primary);
 }

 a {
  text-decoration: none;
  color: inherit;
 }
  p {
   font: var(--text-md);
  }

