header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 240px;
    background-color: var(--suface-color);

}

#main {
    display: flex;
    flex-direction: column;
    width:592px;
    height: 176px;
    gap: 20px;
    margin: 32px;
}


.img-profile {
    margin-left: 32px;
    width: 176px;
    height: 176px;

}


p {
    width: 384px;
    height: 120px;
    line-height: 1.7;
    text-align: left;
    color: #6c6c6c;

}



li {
    margin-bottom:16px ;

}