

header{
   background-color: var(--suface-color);
    width: 100%;
}

.img-profile{
    display: block;
    min-width: 150px;
}

.profile {
    align-items: center;
    display: flex;
    
}


h1 {
    margin-bottom: 0.875rem;
    color: var(--text-color-primary);

}

p {
    line-height: 1.7;
    color: var(--text-color-secondary);
    font-size: var(--text-sm);

}

 .info {
    display: flex;
    flex-direction: column;

} 

.info li {
    width: 100%;
    justify-content: star;
    display: flex;
    height: 24px;
}

