header {

    display: flex;
    flex-direction: row;
    height: 240px;
    background-color: var(--suface-color);

}

#main {
    display: flex;
    flex-direction: column;
    width:592px;
    height: 176px;
    margin: 32px;
}


.img-profile {
    margin-left: 32px;
    margin-block: 32px ;
    width: 176px;
    height: 176px;

}
h1 {
    margin-block: 8px;
}

p {
    width: 384px;
    height: 120px;
    line-height: 1.7;
    text-align: left;
    color: #6c6c6c;
    font-size: 14px;

}

 .info {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 104;
    border: 1px solid green;
    margin: 0 auto;

} 

header a {
    gap: 6px;
    margin-bottom: 15px;
}


