

main .photo_galery {
    /* display: grid;
    grid-template-columns:1fr ; */
    width: 375px;
    

    
    
}

.card_photo img {
    border: 1px solid #ccc;
    width: 100%;
    object-fit: cover;
    transition: all;
    

}

.card_photo img:hover{
    border: 1px solid var(--brand-color);
}