nav {
    background-color: var(--suface-color);
    justify-content: center;
    display: flex; 
    height: 80px;
    justify-content: space-between;
    padding-block: 20px;
}
 .nav-logo  {
    width: 162px;
    height: 32px;
    margin: auto 0;
    margin-left: 32px ;
 }

 .nav-logo img{
    width: 200px;
    margin-bottom: 15px;
    
 }


 #menu_primary {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
 }

 ul {
   display: flex;
   flex-direction: row;
   gap: 16px;
   align-items: center;

 }

 li a {
   display: flex;
   list-style: none;
   color:#1e1e1e;
   align-items: center;
 }



 li a:hover {
   color: var(--brand-color); 
   text-decoration: underline;
 }

nav ul li:last-child img {
   width: 50px;
   margin-inline: 0px 32px;
}