nav {
    width: 100%;
    background-color: var(--suface-color);
    padding: var(--spacing-y-16);
    align-items: center;
   
  
}

 .nav-logo img {
    /* max-width:12.5rem ; */
    
 }

ul{
  align-items: center;
}

 li a { 
   display: flex;
   list-style: none;
   color: var(--text-color-secondary);
  
 }



 li a:hover {
   color: var(--brand-color); 
   text-decoration: underline;
 }

nav ul li:last-child img {
   max-width: 50px;
   
}

@media (max-width: 1440px) {
  nav {
    justify-content: space-between;
    
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .links {
    display: initial;
  }

  nav {
    justify-content: space-between;
    
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .links {
    display: none !important;
  
  }
 
}

   
