nav {

    background-color: var(--suface-color);
    padding: var(--spacing-y-16);
    border: 1px solid red;
    align-items: center;
    
}
 .nav-logo  {
    margin: 0 auto;
    width: 162px;
    height: 2rem;
    
 }

 .nav-logo img{
    width:12.5rem ;
    
 }

ul{
  align-items: center;
}

 li a {
   display: flex;
   list-style: none;
   color:#1e1e1e;
  
 }



 li a:hover {
   color: var(--brand-color); 
   text-decoration: underline;
 }

nav ul li:last-child img {
   width: 50px;
   margin-inline: 0px 32px;
}

@media screen  and (max-width:375px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
     
    
  }

  .links {
    display: none;
   }
}


   
